_pycache_/
.vscode/
.vscode/settings.json
__pycache__/lang_parser.cpython-310.pyc
__pycache__/lexer.cpython-310.pyc
__pycache__/parserNode.cpython-310.pyc
__pycache__/parserOptions.cpython-310.pyc
__pycache__/std.cpython-310.pyc
__pycache__/tokens.cpython-310.pyc
